{% extends 'admin_layout.html' %}
{% load static %}
{% block title %}
<title>Admin-Dashboard</title>
{% endblock %}
{% block main_content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }

    .card-body a:hover{
    color:orange;
    }

</style>
<div class="container">
    <h1>Admin Dashboard</h1>
    {% include 'messages.html' %}
    <div class="row">

   {% csrf_token %}
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Users</div>
                <div class="card-body bg-success">
                    <a href="/admins/users"><h1 class="card-title text-center">{{user}}</h1></a>

                </div>
            </div>
        </div>

    </div>
    <div class="row">


        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body bg-warning">
                    <a href="/admins/admins"> <h1 class="card-title text-center">{{admin}}</h1>
                    </a>
                </div>
                 </div>

                 <div class="col">


            <div class="card text-white bg-danger mb-3 mt-5" style="max-width: 35rem;">
                <div class="card-header text-center">Order Details</div>
                <div class="card-body bg-danger">
                    <a href="/admins/show_order"><h1 class="card-title text-center">{{items}}</h1></a>
                </div>

        </div>
    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
